.nav-belt {
  background-color: #131921;
  height: 60px;
  width: 100%;
  color: white;
  padding: 3px 10px;
  position: fixed;
  top: 0;
}

#nav-logo {
  height: 50%;
}

#nav-search-btn {
  background-color: #febd69;
  border: #febd69 2px solid;
  border-radius: 0 2px 2px 0;
}

.nav-fill {
  width: 50%;
}

#nav-form {
  height: 60%;
  width: 100%;
}

#nav-search {
  width: 100%;
  flex-basis: 66%;
  flex-grow: 1;
  border: none;
}

.nav-dropdown {
  border-radius: 4px 0 0 4px;
  border: none;
}

.loc-icon {
  padding: 12px 5px 0px 5px;
}

.nav-row2 {
  width: 100%;
}

.language {
  color: white;
}
.language i {
  color: white;
}
.nav-right {
  padding: 2px;
}
.nav-right button {
  background-color: #131921;
  color: white;
  border: none;
}

.nav-right select {
  background-color: #131921;
  color: white;
  border: none;
}

.nav-main {
  background-color: #232f3e;
  margin-top: 60px;
  height: 36px;
  color: white;
}

.nav-main button {
  color: white;
  background-color: #232f3e;
  border: none;
  padding: 8px;
}

.nav-main button:hover {
  border: white solid 1px;
}
.slider {
  position: relative;
  max-width: 100%;
}

.next {
  color: black;
  z-index: 10;
  position: absolute;
  font-size: 25px;
  top: 40%;
  right: 5px;
  font-weight: 700px;
}

.prev {
  color: black;
  z-index: 10;
  position: absolute;
  font-size: 25px;
  top: 40%;
  left: 5px;
  font-weight: 700px;
}

#cards {
  background-color: #e3e6e6;
}

.card-data {
  background-color: white;
}

.see-more a {
  text-decoration: none;
  align-self: flex-start;
}

.see-more a:hover {
  color: brown;
  text-decoration: underline;
}

.products {
  overflow: scroll;
}

#bestProducts h1 {
  align-self: flex-start;
}

.books {
  overflow: scroll;
}

.book{
  margin: 20px;
}

#bestBooks h1 {
  align-self: flex-start;
}

#sign-in{
  height: 100px;
  width: 100%;
}

#sign-in button{
  background-color: #ffc52f;
  border: #ffc52f 1px solid;
  border-radius: 5px;
  width: 100px;
}

.line{
border: 1px #e3e6e6 solid;
width: 100%;
margin: 10px 0;
}
