.nav-belt {
  background-color: black;
  height: 60px;
  width: 100%;
  color: white;
  padding: 3px 10px;
  position: fixed;
  top: 0;
}

#nav-logo {
  height: 50%;
}

#nav-search-btn {
  background-color: #febd69;
  border: #febd69 2px solid;
  border-radius: 0 2px 2px 0;
}

.nav-fill {
  width: 60%;
}

#nav-form {
  height: 60%;
  width: 100%;
}

#nav-search {
  width: 100%;
  flex-basis: 66%;
  flex-grow: 1;
  border: none;
}

.nav-dropdown {
  border-radius: 4px 0 0 4px;
  border: none;
}

.loc-icon {
  padding: 12px 5px 0px 5px;
}

.nav-row2 {
  width: 100%;
}

.language{
  color: white;
}
.language i{
  color: white;
}

.nav-right button{
background-color: black;
color: white;
border: none;
}

.nav-right select{
  background-color: black;
  color: white;
  border: none;
}