.btn{
    width: 160px;
    height: 20px;
    text-decoration: none;
    border: none;
}

#search{
    margin-left: -6px;
    background-color: #febd69;
    border: #febd69 2px solid;
    border-radius: 0 2px 2px 0;
}

#search i{
    color: black;
}

#drop{
    margin-right: -6px;
    border-radius: 2px 0 0 2px;
    border-color: #e6e6e6;
}

#drop i{
    color: grey;
}

