body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.just-bet{
    justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: white;
}

