.nav-belt {
  background-color: #131921;
  height: 60px;
  width: 100%;
  color: white;
  padding: 3px 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
}

#nav-logo {
  height: 50%;
  flex-basis: 25%;
}

#nav-search-btn {
  background-color: #febd69;
  border: #febd69 2px solid;
  border-radius: 0 2px 2px 0;
}

.nav-fill btn{
  color: white;
}

.nav-fill {
  width: 50%;
}

#nav-form {
  height: 60%;
  width: 100%;
}

#nav-form select{
  background-color: #ccc;
}

#nav-form button{
  width: 29px;
}

.lens{
  background-color: white;
  border: none;
}

#nav-search {
  width: 100%;
  flex-basis: 66%;
  flex-grow: 1;
  border: none;
}


.nav-dropdown {
  border-radius: 4px 0 0 4px;
  border: none;
}

.loc-icon {
  padding: 12px 5px 0px 5px;
}

.nav-row2 {
  width: 100%;
}

.language {
  color: white;
}
.language i {
  color: white;
}
.nav-right {
  padding: 2px;
  flex-basis: 25%;
}
.nav-right button {
  background-color: #131921;
  color: white;
  border: none;
}

.nav-right select {
  background-color: #131921;
  color: white;
  border: none;
}

.nav-main {
  background-color: #232f3e;
  margin-top: 60px;
  height: 36px;
  color: white;
}

.nav-main button {
  color: white;
  background-color: #232f3e;
  border: none;
  padding: 8px;
}

.nav-main button:hover {
  border: white solid 1px;
}
