.slider {
  width: 100%;
  overflow: hidden;
  /* height: 430px; */
}

.slide {
  flex: auto;
  width: 100%;
  transition-duration: 0.5s;
}

.next {
  color: #ccc;
  position: absolute;
  font-size: 25px;
  top: 10%;
  right: 5px;
  background-color: transparent;
  border: none;
}

.prev {
  color: #ccc;
  position: absolute;
  font-size: 25px;
  top: 10%;
  left: 5px;
  background-color: transparent;
  border: none;
}
